body {
  margin: 0px;
  height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

h1 {
  color: #BB86FC;
}

#game-board {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  height: 300px;
  width: 300px;
  gap: 0px;
}

#game-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-tile {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #242424;
  border: 1px solid #121212;;
  height: 100px;
  width: 100px;
  color: #03DAC6;
  font-size: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.game-tile:hover {
  cursor: pointer;
}

.hover-tile {
  color: gray;
}

#victory-line {
  position: absolute;
  display: none;
  height: 4px;
  width: 270px;
  background-color: #BB86FC;
}

#score-card {
  width: 300px;
  display: flex;
  justify-content: space-between;
  color: #DCDCDC;
  margin: 20px;
}


.game-btn {
  width: 300px;
}

button:hover {
  background-color: rgb(49, 49, 49);
}

#pop-up-name-form {
  position: absolute;
  display: none;
  background-color: rgba(49, 49, 49, 0.5);
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#change-name-form {
  background: black;
  border: 2px solid #BB86FC;
  border-radius: 5px;
  color: #DCDCDC;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#change-name-form p, #name-text-input {
  padding: 0px;
  margin: 10px;
}

#name-text-input {
  width: 146px;
  outline: none;
}

.form-btn {
  width: 150px;
}

button {
  outline: none;
  border: 2px solid #BB86FC;
  background-color: #121212;
  color: #DCDCDC;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}